html,
body {
  padding: 0;
  margin: 0;
  font-family: opensans, sans-serif, 'Helvetica Neue', Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

:root{
  --primary: #07838F;
  --secondary: #115499;
  --tertiary: #EB9009;
  --quaternary: #EB7309;
}

.primary {
  background-color:  var(--primary);
}
.secondary {
  background-color:  var(--secondary);
}
.tertiary {
  background-color:  var(--tertiary);
}
.quaternary {
  background-color:  var(--quaternary);
}
.primary-outline {
  color: var(--primary);
}
.secondary-outline {
  color: var(--secondary);
}
.tertiary-outline {
  color: var(--tertiary);
}
.quaternary-outline {
  color: var(--quaternary);
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar{
  background-color: var(--primary);
  color: white;
  height: 7vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  align-items: center;
}
.main{
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}
.navbar .navbar__logo{
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
.navbar menu{
  justify-content: space-around;
  align-items: center;
  margin: 0%;
  display: flex;
  flex-direction: row;
}
.navbar menu a{
  padding: 10%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.col-md-12 {
  flex: 1;
  padding: 0;
  margin: 0;
}
.footer-content {
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
h3 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
h4 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
h5 {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
p {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  margin: 0;
}