.profile{
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
img{
    margin: auto;
    width: 80%;
}
.nav{
    /*border-radius: 5px ;*/
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2%;
}
h1,h2,h3,h4,h5,h6{
    margin: 1%;
}
.form{
    margin-left: auto; 
}
.row{
    margin-bottom: 1%;
}
.margin-1{
    margin-bottom: 1%;
}
.center{
    margin: auto;
}
.center-h{
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.navbar-brand{
    margin-left: 2% !important;
}
.commentary{
    border-bottom: 1px solid #D0D0D0;
    margin-bottom: 4%;
}