.row{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0px;
  grid-column-start: 1;
  grid-auto-flow: dense;
  align-items: center;
}
.reverse .description{
  grid-column: 2;
  justify-self: end;
}
.reverse .title{
  grid-column: 1;
  justify-content: flex-start;
}
.description{
  display: flex;
  background-color: var(--primary);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  color: #fff;
}
.title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 769px){
  .year{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: .4rem .3rem;
    background-color: var(--primary);
    border-style: solid;
    border-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .description{
    width: 70%;
    position: relative;
  }
  .title{
    width: 100%;
  }
  .row .description span{
    content: '';
    position: absolute;
    right: -9px;
    top: 50%;
    transform: translate(0%,-50%);
    background-color: var(--background);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--primary);
  }
  .reverse .description span{
    left: -9px;
    transform: rotate(180deg) translate(0%,50%);
  }
}
@media (max-width: 768px) {
  .row,.reverse{
    flex-direction: column-reverse;
  }
  .description{
    width: 90%;
    align-self: center;
  }
}
