body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New,
    monospace;
}

.primary-color{
  background: #07848F;
}
.secondary-color{
  background: #5E7DD4;
}
.third-color{
  background: #EBA209;
}
.fourth-color{
  background: #EB7409;
}

.white{
  color: white;
}

a{
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
@media only screen and (min-width: 1000px) {
  .container {
    width: 800px;
    align-items: center;
    margin: auto;
  }
}